<!doctype html>
<lhtml>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

 {% load static %}
 <link rel="stylesheet" href="{% static 'Index/index.css' %}">

 <title>serialLED</title>
</head>
<body>
 {% block content %}
 <div class="container">
 <div class="row align-items-center">
     <div class="col">
        <form action="{% url 'index' %}" method="post">
            <button type="submit" name="LED" class="btn btn-primary btn-block btn-lg">LEDボタン</button>
            {% csrf_token %}
        </form>
    </div>
 </div>
 </div>

 <!-- Bootstrap -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Javascript file -->
  {% load static %}
  <script type="text/javascript" src="{% static 'Index/index_setWidth.js' %}"></script>
 {% endblock %}
</body>
</lhtml>